<% layout("layouts/boilerplate") %>
<h2>所有考題</h2>
<h3>第<%= page %>頁</h3>
<div class="test__container">
  <% for (let [i,test] of tests.entries()) {%>
  <div class="test__card">
    <div class="test__question">
      <p><a href=<%=test._id%>>第<%- (page-1)*10+i+1 %>題</a></p>
      <p><%= test.question %></p>
    </div>
    <div class="test__options">
      <% test.options.forEach((option, i)=>{ %>
      <div class="test__option"><%- abcd[i] %> <%= option %></div>
      <% }) %>
    </div>
  </div>
  <% } %>
</div>
<% if(page != 1) {%> 
<div class="arrow__left">
  <a href="<%=link1%>"><i class="uil uil-arrow-left"></i></a></i></div>
  <% } %> 
  <% if( (page*10 -count)> 1) {%>
    <%} else{%> 
<div class="arrow__right">
  <a href="<%=link2%>"><i class="uil uil-arrow-right"></i></a>
  </i></div>
<% } %> 